In [1]:
#Q1. Create one variable containing following type of data:
# String
my_string = "Hello, World!"

# List
my_list = [1, 2, 3, 4, 5]

# Float
my_float = 3.14

# Tuple
my_tuple = (10, 20, 30)

In [9]:
#Q2. Given are some following variables containing data:
#(i) var1 = ‘ ‘
#(ii) var2 = ‘[ DS , ML , Python]’
#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
#(iv) var4 = 1.
#What will be the data type of the above given variable.

#ANSWER:
#Based on the values assigned to the variables, here are the data types for each of them:

#(i) var1 = ' ': The value assigned is a single space character enclosed in single quotes, which makes it a string. So, the data type of 'var1' is a 'string (str)'.

#(ii) var2 = '[ DS , ML , Python]': The value assigned is a string that looks like a list, but it's actually a string containing a list-like representation. So, the data type of 'var2' is a 'string (str)'.

#(iii) var3 = ['DS', 'ML', 'Python']: The value assigned is a list containing three string elements. So, the data type of 'var3' is a 'list (list)'.

#(iv) var4 = 1.0: The value assigned is a floating-point number (a decimal number). So, the data type of 'var4' is a 'float (float)'.

In [10]:
#Q3. Explain the use of the following operators using an example:
#(i) / :- this is an arithmetic operator used to divide the first number by the second number. example of this operator is:
10/2

5.0

In [11]:
#(ii) % : this is the modulous arithmetic operator which is used to divide the first number by the second number and then it shoes the remainder as the output.example of this arithmetic operator is:-
10%3

1

In [12]:
#(iii) // :- this is also an arithmetic which represents the floor devision. means it divides the firs tnumber by the second and rounds the result/output to the nearest integer(or whole number). example of floor division:
10//3

3

In [13]:
#(iv) ** :- this operator is used for power means the first number raises to the second number. for example:
2**5

32

In [14]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.
my_list = [1, 'Hello', 3.14, True, [1, 2, 3], 'Python', (10, 20), False, 42, None]

for item in my_list:
    print(f"Element: {item}, Data Type: {type(item)}")

Element: 1, Data Type: <class 'int'>
Element: Hello, Data Type: <class 'str'>
Element: 3.14, Data Type: <class 'float'>
Element: True, Data Type: <class 'bool'>
Element: [1, 2, 3], Data Type: <class 'list'>
Element: Python, Data Type: <class 'str'>
Element: (10, 20), Data Type: <class 'tuple'>
Element: False, Data Type: <class 'bool'>
Element: 42, Data Type: <class 'int'>
Element: None, Data Type: <class 'NoneType'>

In [15]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.
# Input the values of A and B
A = int(input("Enter the value of A: "))
B = int(input("Enter the value of B: "))

# Initialize a count variable to keep track of how many times A can be divided by B
count = 0

# Use a while loop to check divisibility and count the number of divisions
while A % B == 0:
    A = A // B  # Update A by dividing it by B
    count += 1  # Increment the count
    
if A == 0:
    print(f"{count} times, and the result is 0")
else:
    print(f"{count} times, and the remainder is {A}")

Enter the value of A:  20
Enter the value of B:  2

2 times, and the remainder is 5

In [16]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.
# Create a list of 25 integers
my_list = [10, 15, 6, 22, 9, 30, 14, 18, 5, 12, 21, 27, 8, 7, 33, 16, 3, 25, 36, 4, 17, 11, 20, 13, 24]

# Use a for loop to iterate through the list
for num in my_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3.")
    else:
        print(f"{num} is not divisible by 3.")

10 is not divisible by 3.
15 is divisible by 3.
6 is divisible by 3.
22 is not divisible by 3.
9 is divisible by 3.
30 is divisible by 3.
14 is not divisible by 3.
18 is divisible by 3.
5 is not divisible by 3.
12 is divisible by 3.
21 is divisible by 3.
27 is divisible by 3.
8 is not divisible by 3.
7 is not divisible by 3.
33 is divisible by 3.
16 is not divisible by 3.
3 is divisible by 3.
25 is not divisible by 3.
36 is divisible by 3.
4 is not divisible by 3.
17 is not divisible by 3.
11 is not divisible by 3.
20 is not divisible by 3.
13 is not divisible by 3.
24 is divisible by 3.

In [ ]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.
#In Python, data types can be categorized as either mutable or immutable based on whether their values can be changed after they are created.

#IMMUTABLE DATA TYPES:

#Immutable data types are those whose values cannot be modified after they are created.
#Any operation that appears to modify an immutable object actually creates a new object with the modified value, rather than modifying the original object.
#Examples of immutable data types in Python include strings, integers, floats, tuples, and frozensets.

In [17]:
#EXAMPLES OF IMMUTABLE DATA TYPES:

In [18]:
#1. STRINGS:
str1 = "Hello"
str1 += " World"  # Creates a new string, doesn't modify str1
print(str1)  # Output: "Hello World"

Hello World

In [19]:
#2.INTEGERS:
num1 = 5
num2 = num1 + 2  # Creates a new integer, doesn't modify num1
print(num1)  # Output: 5
print(num2)  # Output: 7

5
7

In [20]:
#3. TUPLES:
tuple1 = (1, 2, 3)
tuple2 = tuple1 + (4,)  # Creates a new tuple, doesn't modify tuple1
print(tuple1)  # Output: (1, 2, 3)
print(tuple2)  # Output: (1, 2, 3, 4)

(1, 2, 3)
(1, 2, 3, 4)

In [21]:
#MUTABLE DATA TYPES:
#Mutable data types are those whose values can be modified after they are created.
#Operations can directly modify the content of mutable objects without creating new objects.
#Examples of mutable data types in Python include lists, dictionaries, and sets.

In [22]:
#EXAMPLES OF MUTABLE DATA TYPES:

In [23]:
#1.LISTS:
list1 = [1, 2, 3]
list1.append(4)  # Modifies list1 by adding an element
print(list1)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

In [24]:
#2.DICTIONARIES:
dict1 = {'name': 'Alice', 'age': 30}
dict1['age'] = 31  # Modifies the 'age' value in dict1
print(dict1)  # Output: {'name': 'Alice', 'age': 31}

{'name': 'Alice', 'age': 31}

In [25]:
#3.SETS:
set1 = {1, 2, 3}
set1.add(4)  # Modifies set1 by adding an element
print(set1)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}